In [1]:
import pandas as pd
import os
from pydataset import data
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import env
import prepare
import acquire

from sklearn.model_selection import train_test_split

In [2]:
# df_iris = acquire.get_iris_data()
# df_iris.head()


# df_iris=df_iris.drop(columns='species_id' and 'measurement_id')
# df_iris=df_iris.rename(columns={'species_name':'species'})

# df_iris.head()

def prep_iris():
    df_iris=acquire.get_iris_data()
    df_iris=df_iris.drop(columns='species_id' and 'measurement_id')
    df_iris=df_iris.rename(columns={'species_name':'species'})
    return df_iris

prep_iris().head()

In [3]:
df_iris=prepare.prep_iris()
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

df_telco_churn = acquire.get_telco_data()

df_telco_churn.head()

df_telco_churn.shape

df_telco_churn=df_telco_churn.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id'],errors='ignore')

df_telco_churn.head()

df_telco_churn.isnull().sum()


df_telco_churn=df_telco_churn.isnull().fillna('No Internet')
df_telco_churn.isnull().sum()

def prep_telco():
    df_telco_churn = acquire.get_telco_data()
    df_telco_churn=df_telco_churn.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id'],errors='ignore')
    df_telco_churn=df_telco_churn.isnull().fillna('No Internet')
    return df_telco_churn

prep_telco().head()

In [4]:
df_telco_churn=prepare.prep_telco()
df_telco_churn.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

df_titanic=acquire.get_titanic_data()
df_titanic.head()

df_titanic=df_titanic.drop(columns=['embarked', 'age','deck', 'class'])
df_titanic.head()

df_titanic.pclass = df_titanic.pclass.astype(object)
df_titanic.pclass.dtype

df_titanic.embark_town = df_titanic.embark_town.fillna('Southampton')
df_titanic.isnull().sum()

In [5]:
df_titanic=prepare.prep_titanic()

In [6]:
df_titanic.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
0,0,0,3,male,1,0,7.2500,Southampton,0
1,1,1,1,female,1,0,71.2833,Cherbourg,0
2,2,1,3,female,0,0,7.9250,Southampton,1
3,3,1,1,female,1,0,53.1000,Southampton,0
4,4,0,3,male,0,0,8.0500,Southampton,1

In [9]:
train, validate, test= prepare.train_validate_test(df_titanic,'survived')

In [10]:
train

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
776,776,0,3,male,0,0,7.7500,Queenstown,1
829,829,1,1,female,0,0,80.0000,Southampton,1
215,215,1,1,female,1,0,113.2750,Cherbourg,0
258,258,1,1,female,0,0,512.3292,Cherbourg,1
129,129,0,3,male,0,0,6.9750,Southampton,1
...,...,...,...,...,...,...,...,...,...
125,125,1,3,male,1,0,11.2417,Cherbourg,0
360,360,0,3,male,1,4,27.9000,Southampton,0
55,55,1,1,male,0,0,35.5000,Southampton,1
298,298,1,1,male,0,0,30.5000,Southampton,1
768,768,0,3,male,1,0,24.1500,Queenstown,0

In [11]:
train, validate, test=prepare.train_validate_test(df_iris,'species')

In [12]:
train

     sepal_length  sepal_width  petal_length  petal_width     species
24            4.8          3.4           1.9          0.2      setosa
147           6.5          3.0           5.2          2.0   virginica
88            5.6          3.0           4.1          1.3  versicolor
123           6.3          2.7           4.9          1.8   virginica
31            5.4          3.4           1.5          0.4      setosa
54            6.5          2.8           4.6          1.5  versicolor
11            4.8          3.4           1.6          0.2      setosa
97            6.2          2.9           4.3          1.3  versicolor
35            5.0          3.2           1.2          0.2      setosa
7             5.0          3.4           1.5          0.2      setosa
89            5.5          2.5           4.0          1.3  versicolor
137           6.4          3.1           5.5          1.8   virginica
40            5.0          3.5           1.3          0.3      setosa
133           6.3          2.8           5.1          1.5   virginica
103           6.3          2.9           5.6          1.8   virginica
6             4.6          3.4           1.4          0.3      setosa
148           6.2          3.4           5.4          2.3   virginica
50            7.0          3.2           4.7          1.4  versicolor
10            5.4          3.7           1.5          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
73            6.1          2.8           4.7          1.2  versicolor
120           6.9          3.2           5.7          2.3   virginica
139           6.9          3.1           5.4          2.1   virginica
118           7.7          2.6           6.9          2.3   virginica
107           7.3          2.9           6.3          1.8   virginica
44            5.1          3.8           1.9          0.4      setosa
132           6.4          2.8           5.6          2.2   virginica
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
55            5.7          2.8           4.5          1.3  versicolor
69            5.6          2.5           3.9          1.1  versicolor
96            5.7          2.9           4.2          1.3  versicolor
81            5.5          2.4           3.7          1.0  versicolor
71            6.1          2.8           4.0          1.3  versicolor
140           6.7          3.1           5.6          2.4   virginica
82            5.8          2.7           3.9          1.2  versicolor
128           6.4          2.8           5.6          2.1   virginica
1             4.9          3.0           1.4          0.2      setosa
78            6.0          2.9           4.5          1.5  versicolor
112           6.8          3.0           5.5          2.1   virginica
87            6.3          2.3           4.4          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
121           5.6          2.8           4.9          2.0   virginica
8             4.4          2.9           1.4          0.2      setosa
0             5.1          3.5           1.4          0.2      setosa
18            5.7          3.8           1.7          0.3      setosa
95            5.7          3.0           4.2          1.2  versicolor
53            5.5          2.3           4.0          1.3  versicolor
108           6.7          2.5           5.8          1.8   virginica
83            6.0          2.7           5.1          1.6  versicolor
15            5.7          4.4           1.5          0.4      setosa
5             5.4          3.9           1.7          0.4      setosa
111           6.4          2.7           5.3          1.9   virginica
62            6.0          2.2           4.0          1.0  versicolor
145           6.7          3.0           5.2          2.3   virginica
3             4.6          3.1           1.5          0.2      setosa
106           4.9          2.5           4.5          1.7   virginica
26            5.0          3.4           1.6          0.4      setosa
109           7.2          3.6           6.1          2.5   virginica
126           6.2          2.8           4.8          1.8   virginica
21            5.1          3.7           1.5          0.4      setosa
149           5.9          3.0           5.1          1.8   virginica
134           6.1          2.6           5.6          1.4   virginica
23            5.1          3.3           1.7          0.5      setosa
48            5.3          3.7           1.5          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
102           7.1          3.0           5.9          2.1   virginica
79            5.7          2.6           3.5          1.0  versicolor
114           5.8          2.8           5.1          2.4   virginica
136           6.3          3.4           5.6          2.4   virginica
60            5.0          2.0           3.5          1.0  versicolor
92            5.8          2.6           4.0          1.2  versicolor
99            5.7          2.8           4.1          1.3  versicolor
85            6.0          3.4           4.5          1.6  versicolor
49            5.0          3.3           1.4          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
94            5.6          2.7           4.2          1.3  versicolor
141           6.9          3.1           5.1          2.3   virginica
27            5.2          3.5           1.5          0.2      setosa
46            5.1          3.8           1.6          0.2      setosa
124           6.7          3.3           5.7          2.1   virginica
84            5.4          3.0           4.5          1.5  versicolor
113           5.7          2.5           5.0          2.0   virginica
98            5.1          2.5           3.0          1.1  versicolor
13            4.3          3.0           1.1          0.1      setosa
52            6.9          3.1           4.9          1.5  versicolor
41            4.5          2.3           1.3          0.3      setosa
12            4.8          3.0           1.4          0.1      setosa
20            5.4          3.4           1.7          0.2      setosa
131           7.9          3.8           6.4          2.0   virginica

In [14]:
train, validate, test= prepare.train_validate_test(df_telco_churn,'churn')

In [15]:
train

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
1655,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4037,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1762,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2256,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3023,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4910,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3213,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
809,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1799,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
6328,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False